/* .carosoul-wrapper{
    


} */
/* .carasoul-card{

    display: flex;

    justify-content: space-around;
    flex-direction: column;
} */

/* key={data.id}   style={{display:'flex',flexDirection:'column',justifyContent:'center',alignItems:'center',color:'white',textTransform:'uppercase'}} */